rules_version = '2';

function isProfile(resource) {
  // name・photoURL以外のフィールドがあった場合エラー
  return resource.keys().hasOnly(['name', 'photoURL']) &&
    // nameは文字列かつ50文字以内のみ可
    (!('name' in resource.keys()) || (resource.name is string && resource.name.size() <= 50)) &&
    // photoURLは文字列かつhttps://から始まるデータのみ可
    // 正規表現 => Google RE2(https://github.com/google/re2/)
    (!('photoURL' in resource.keys()) || (resource.photoURL is string && resource.photoURL.matches("^https:[/][/].*")));
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // getのみにし、ユーザー一覧を取れないよう制限
      allow get: if request.auth.uid != null
      allow write: if isProfie(request.resource.data) &&
        // ユーザー本人のみ書き換え可能
        request.auth.uid == userId;
    }
  }
}